<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/">Hobbies</a>
  
  <h1>My Hobbies</h1>
  <ul>
    <li>Bowling</li>
    <li>Playing Pool</li>
    <li>Listening to Music</li>
    <li>Watching Movies</li>
  </ul>
</body>