---
// Known as Frontmatter,this code fence is where JavaScript goes and is used for importing Astro components, creating variables, fetching data, or other frameworks like React

import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='Landing Page'>
  <!-- everything in here gets injected into the slot -->
  <p>Our Landing Page wrapped in an Astro layout</p>
</MainLayout>
